@media (max-width: 600px) {
  .row-sections {
    flex-direction: column;
    gap: 16px;
  }
  button, input[type="number"] {
    max-width: 100%;
    width: 100%;
  }
}

h1 {
  text-align: left;
  margin-top: 30px;
  font-size: 2em;
}

.row-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

.moveKU,
.moveA,
.moveC,
.moveTI {
  flex: 1;
  min-width: 280px; /* prevents them from being too narrow on small screens */
}

.exam {
    margin-top: 60px;
}

.calculate {
  margin-top: 60px;
}

input[type="number"] {
  width: 90%;
  max-width: 200px;
  margin-bottom: 5px;
  font-size: 1em;
  padding: 5px;
}

button {
  width: 100%;
  max-width: 250px;
  margin: 8px 0;
  font-size: 1em;
  padding: 8px;
}

label, p {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  word-break: break-word;
}

